.timer {
    float: right;
    padding: 10px;
}
.highScores {
    padding: 10px;
}
body {
    background-image: url(images/background.jpg);
    background-size: cover;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.container {
    margin-top: 10%;
    width: 80%;
    background-color:ghostwhite;
    text-align: center;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0 0 15px 4px
}
.btn {
    border: 1px solid black;
    background-color: blue;
    color:white;
    border-radius:5px;
    padding: .5em 1em
}
.hide {
    display:none
}
#startButton, #nextButton {
    font-size: 1.5rem;
    padding: 15px
}
.btn-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        grid-auto-rows: minmax(100px, auto);
}